* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#creative-cop-welcome-entry-point {
  background-color: #000;
  display: flex;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
}

canvas {
  background-color: #000;
  image-rendering: pixelated;
}

h1 {
  position: absolute;
  background-color: #000;
  width: 25vw;
  font-size: 2.5vw;
  color: #fff;
}
